<div class="container form-horizontal">
    <button title="الاعدادات" ng-click="editMetadata()"><span class="glyphicon glyphicon-wrench"></span> </button>
    <fieldset>
        <legend>Update {{view}}</legend> 
    </fieldset>
    
    <button class="btn btn-primary" ng-click="update()">
        تعديل
    </button>

    <button class="btn btn-primary" ng-click="delete()">
        حذف
    </button>

    <div class="row" ng-repeat="r in meta">
        <div class="col-md-{{v.size}}" ng-repeat="v in r" ng-if="v.visible"  ng-include="'app/template/share/edit/'+v.template+'.html'" />
    </div>
    <button class="btn btn-primary" ng-click="update()">
        تعديل
    </button>
    
    <button class="btn btn-primary" ng-click="delete()">
        حذف
    </button>
</div>